body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
}

header{
  height: 60px;
  max-width: 100%;
  background: #A61111;
}

nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
  background: #A61111;
}

nav li{
  list-style: none;
  font-size: 30px;
}

.contTres{
  display: flex;
  justify-content: space-around;
}

img{
  width: 300px;
  height: 200px;
  background: #C4CBC7 no-repeat right bottom;
  padding: 5px 5px 5px 5px;
}
